.Header {
  display: flex;
  justify-content: center;
  color: $color-white;

  position: sticky;
  top: 0;
  background: $bacground-gradient;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  &-body {
    display: flex;
    justify-content: space-between;
    width: $container-width;
    padding-left: 14px;
    padding-right: 14px;
  }
  &-left {
    padding-top: 24px;
    padding-bottom: 24px;
    &-img {
      width: 93px;
      height: 32px;
    }
  }
  &-right {
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    &-link {
      display: flex;
      position: relative;
      color: $color-white;
      &-indicator {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: -10px;
        right: -18px;
        font-weight: bold;
        background-color: red;
        border-radius: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
