.Addtofav {
  &-img {
    width: inherit;
    height: inherit;
    background: url('/like.svg') no-repeat center center;
    background-size: $gutter-small $gutter-small;
  }
  &:hover {
    background-color: $background-red;
  }
}
