.Details {
  display: none;
  position: absolute;
  &-body {
    display: flex;
    position: relative;
    height: 357px;
    z-index: 3;
    background-color: $color-dark;
    box-shadow: 0 20px 40px rgba(37, 37, 37, 0.185);
    color: $color-white;
    padding-right: 40px;
    @include mq {
    }
    &-left {
      &-img {
        display: none;
        @include mq {
          display: initial;
        }
      }
    }
    &-right {
      padding-left: 30px;
      padding-top: 30px;
      &-title {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        &-remove {
          cursor: pointer;
          margin-left: 10px;
          color: #e91b1b;
          &:hover {
            color: rgba(128, 128, 128, 0.616);
          }
        }
      }
      &-imdb {
        margin-top: 17px;
        display: flex;
        align-items: center;
        &-point {
          margin-left: 10px;
          & span:first-child {
            font-size: 18px;
          }
          & span:last-child {
            font-size: 12px;
            color: rgba(180, 188, 204, 1);
          }
        }
      }
      &-content {
        display: flex;
        height: 215px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        padding-top: 20px;
        div {
          display: flex;
          & span:first-child {
            width: 60px;
            color: rgba(212, 221, 237, 1);
            letter-spacing: 0.6px;
            line-height: 14px;
          }
          & span:last-child {
            width: 250px;
            letter-spacing: 0.61px;
            line-height: 15px;
            font-weight: bold;
          }
        }
      }
    }
  }
  &.show {
    display: initial;
  }
}

#Remove {
  display: none;

  &.remove-show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 2;
    background-color: rgba(54, 54, 54, 0.308);
    cursor: pointer;
  }
}
