.Details {
  display: none;
  position: absolute;
  top: 0;
  &-remove {
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    width: 1440px;
    height: 863px;
    z-index: 1;
    background-color: rgba(119, 119, 119, 0.308);
    cursor: pointer;
  }
  &-body {
    display: flex;
    position: absolute;
    top: 250px;
    left: 295px;
    height: 370px;
    z-index: 1;
    background-color: $color-dark;
    box-shadow: 0 20px 40px rgba(37, 37, 37, 0.185);
    color: $color-white;
    padding-right: 40px;
    &-right {
      padding-left: 30px;
      padding-top: 30px;
      &-title {
        font-size: 1.5em;
      }
      &-imdb {
        margin-top: 17px;
        display: flex;
        align-items: center;
        &-point {
          margin-left: 10px;
          & span:first-child {
            font-size: 18px;
          }
          & span:last-child {
            font-size: 12px;
            color: rgba(180, 188, 204, 1);
          }
        }
      }
      &-content {
        display: flex;
        height: 215px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        padding-top: 20px;
        div {
          display: flex;
          & span:first-child {
            width: 60px;
            color: rgba(212, 221, 237, 1);
            letter-spacing: 0.6px;
            line-height: 14px;
          }
          & span:last-child {
            width: 250px;
            letter-spacing: 0.61px;
            line-height: 15px;
            font-weight: bold;
          }
        }
      }
    }
  }
  &.show {
    display: initial;
  }
}
