.Details {
  display: none;
  position: absolute;
  &-body {
    display: flex;
    position: relative;
    height: $card-body-height;
    z-index: 3;
    background-color: $color-dark;
    color: $color-white;
    padding-right: $gutter-big;
    width: $full-screen;
    @include mq('small') {
      width: auto;
    }
    &-left {
      &-img {
        display: none;
        @include mq {
          display: initial;
        }
      }
    }
    &-right {
      padding-left: $gutter;
      padding-top: $gutter;
      &-title {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-title;
        &-remove {
          cursor: pointer;
          margin-left: $gutter-small;
          color: $color-red;
          &:hover {
            color: $color-gray;
          }
        }
      }
      &-imdb {
        margin-top: $gutter-small;
        display: flex;
        align-items: center;
        &-point {
          margin-left: $gutter-extra-small;
          & span:first-child {
            font-size: $font-size-big;
          }
          & span:last-child {
            font-size: $font-size-extra-small;
            color: $color-white-gray;
          }
        }
      }
      &-content {
        display: flex;
        height: $detail-content-height;
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-size-extra-small;
        padding-top: $gutter-small;
        div {
          display: flex;
          & span:first-child {
            width: 60px;
            color: $color-white-soft;
            letter-spacing: $letter-space-small;
            line-height: $line-height-small;
          }
          & span:last-child {
            width: fit-content;
            letter-spacing: $letter-space-small;
            line-height: $line-height-big;
            font-weight: bold;
            @include mq('small') {
              width: 350px;
            }
          }
        }
      }
    }
  }
  &.show {
    display: initial;
  }
}

#Remove {
  display: none;

  &.remove-show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 2;
    background-color: $background-remove;
    cursor: pointer;
  }
}
