.Loading {
  width: $img-width;
  height: 375px;
  margin-top: $margin-gap;
  &-top {
    &-img {
      width: 100%;
      height: $img-height;
      @include background-gradient();
      animation: shine-avatar $animation-duration infinite linear;
    }
  }
  &-bottom {
    &-text {
      width: 60px;
      height: 18px;
      margin-top: 15px;
      @include background-gradient();
      animation: shine-avatar $animation-duration infinite linear;
    }
    &-year {
      width: 50px;
      height: 16px;
      margin-top: 8px;
      @include background-gradient();
      animation: shine-avatar $animation-duration infinite linear;
    }
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 200px;
  }
  100% {
    background-position: 200px;
  }
}
