.Movie {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 24px;
  margin-right: 14px;
  margin-left: 14px;
  &-top {
    box-shadow: $card-shadow;
    &-img {
      &:hover {
        cursor: pointer;
        box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.747);
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    &-text {
      margin-right: 5px;
      &-title {
        color: $color-white;
        font-size: 1em;
      }
      &-year {
        margin-top: 8px;
        font-size: $font-size-small;
        color: $color-gray;
      }
    }
  }
}
