.Movie {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 24px;
  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 8px;
    &-text {
      margin-right: 5px;
      &-title {
        color: $color-white;
        font-size: 1em;
      }
      &-year {
        margin-top: 8px;
        font-size: $font-size-small;
        color: $color-gray;
      }
    }
  }
}
