.Movie {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $img-width;
  margin-top: $margin-gap;
  margin-right: $gap;
  margin-left: $gap;
  &-top {
    position: relative;
    box-shadow: $card-shadow;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: $gap;
    &-text {
      margin-right: 5px;
      &-title {
        color: $color-white;
        font-size: $font-size;
      }
      &-year {
        margin-top: 8px;
        font-size: $font-size-small;
        color: $color-gray;
      }
    }
  }
}
