.Remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  &-img {
    width: 32px;
    height: 32px;
    background: url('/liked.svg') no-repeat center center;
    background-size: 20px 20px;
  }
}
