.Remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  cursor: pointer;
  &-img {
    width: inherit;
    height: inherit;
    background: url('/liked.svg') no-repeat center center;
    background-size: 20px 20px;
  }
}
