.Search {
  &-input {
    width: 60px;
    margin-right: $margin-gap;
    background: none;
    border: none;
    outline: none;
    color: $color-white;
    margin-left: $gutter-extra-small;
    &::placeholder {
      color: white;
    }
  }
  &-button {
    display: none;
  }
}
